@model Biblioteka.Models.BookKeyWord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookKeyWord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookCopy.BookCopyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookCopy.BookCopyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyWord.KeyWordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyWord.KeyWordName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookKeyWordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
