@model IEnumerable<Biblioteka.Models.BookKeyWord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookCopy.BookCopyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyWord.KeyWordName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookCopy.BookCopyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyWord.KeyWordName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookKeyWordID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookKeyWordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookKeyWordID })
        </td>
    </tr>
}

</table>
